# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# '.workspace':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

# tmux like keybindings
'body':
  'ctrl-b left':  'window:focus-pane-on-left'
  'ctrl-b right': 'window:focus-pane-on-right'
  'ctrl-b up':    'window:focus-pane-above'
  'ctrl-b down':  'window:focus-pane-below'

'atom-text-editor':
  'alt-down':       'editor:move-to-beginning-of-next-paragraph'
  'alt-up':         'editor:move-to-beginning-of-previous-paragraph'
  'alt-shift-down': 'editor:select-to-beginning-of-next-paragraph'
  'alt-shift-up':   'editor:select-to-beginning-of-previous-paragraph'

'.platform-darwin atom-text-editor':
  'ctrl-shift-m': 'bracket-matcher:select-inside-brackets'

'.platform-darwin atom-text-editor:not([mini])':
  'cmd-shift-v': 'clipboard-plus:toggle'

'atom-workspace':
  'ctrl-alt-g': 'git-control:toggle'
  'ctrl-`': 'terminal-fusion:toggle'
  'ctrl-j e': 'proto-repl:execute-text-entered-in-repl'

'.platform-darwin atom-workspace atom-text-editor:not([mini])':
  'ctrl-j l': 'proto-repl:toggle'
  'ctrl-j j': 'proto-repl:start-self-hosted-repl'
  'ctrl-j b': 'proto-repl:execute-block'
  'ctrl-j p': 'proto-repl:execute-top-block'
  'ctrl-j s': 'proto-repl:execute-selected-text'
  'ctrl-j f': 'proto-repl:load-current-file'
  'ctrl-j r': 'proto-repl:refresh-namespaces'
  'ctrl-j shift-r': 'proto-repl:super-refresh-namespaces'
  'ctrl-j x': 'proto-repl:run-tests-in-namespace'
  'ctrl-j t': 'proto-repl:run-test-under-cursor'
  'ctrl-j a': 'proto-repl:run-all-tests'
  'ctrl-j d': 'proto-repl:print-var-documentation'
  'ctrl-j c': 'proto-repl:print-var-code'
  'ctrl-j n': 'proto-repl:list-ns-vars'
  'ctrl-j shift-n': 'proto-repl:list-ns-vars-with-docs'
  'ctrl-j o': 'proto-repl:open-file-containing-var'

'atom-workspace atom-text-editor:not([mini])':
  'shift-enter': 'proto-repl:execute-text-entered-in-repl'

'.terminal-fusion':
  'cmd-c': 'terminal-fusion:copy'
  'cmd-v': 'terminal-fusion:paste'
